/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #013668;
    height: 100vh;
}

.logo_1 {
    width: 200px;
    height: 200px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffb200;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #ffb200;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffb200;
    transform: scale(1.05);
}

button:hover,
form .btn-reset input:hover {
    box-shadow: 0px 0px 8px #ffb200;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fbfcfc;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    position: relative;
}

header nav.menu-desktop a:hover {
    color: #ffb200;
    transform: scale(1.05);
}

header nav.menu-desktop a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: #ffb200;
    transform: scale(0);
    transform-origin: right;
    
}

header nav.menu-desktop a:hover::after {
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu{
    display: none;
}

.btn-abrir-menu i{
    color: #ffb200;
    font-size: 40px;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}


.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #ffb200;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #ffb200;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #ffb200;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 500px;
    height: 500px;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #ffb200;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #ffb200;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ffb200;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #fbfcfc;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    justify-content: center;
}

form .btn-enviar input {
    max-width: 400px;
    background-color: #ffb200;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-reset {
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    justify-content: center;
}

form .btn-reset input {
    max-width: 400px;
    background-color: #ffb200;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

.logo_footer {
    width: 150px;
    height: 150px;
}
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ffb200;
}

footer .line-footer p i {
    color: #ffb200;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}

/* TOPO SITE SOBRE */

section.topo-do-site-sobre {
    padding: 40px 4%;
}

section.topo-do-site-sobre .flex-sobre {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site-sobre h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    text-align: center;
}

.topo-do-site-sobre .txt-topo-site-sobre h1 span {
    color: #ffb200;
}

.topo-do-site-sobre .txt-topo-site-sobre p {
    color: #fff;
    margin: 40px 0;
}

/* CULTURA */

section.cultura {
    padding: 40px 4%;
}

section.cultura .flex {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.cultura    .cultura-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    width: 100%;
    box-sizing: border-box;
}

.cultura .cultura-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.cultura    .cultura-box h3 {
    color: #ffb200;
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
}
.cultura-titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.cultura-titulo span {
    color: #ffb200;
}

.missao-1 {
    text-align: center;
    color: white;
}

.valores-1 {
    text-align: center;
    color: white;
}

.valores-1 {
    text-align: center;
    color: white;
}

.valores-2 {
    text-align: center;
    color: white;
}

.valores-3 {
    text-align: center;
    color: white;
}

.valores-4 {
    text-align: center;
    color: white;
}

.valores-5 {
    text-align: center;
    color: white;
}

/* ESPECIALIDADES */

section.esp {
    padding: 20px 4%;
}

section.esp .flex {
    align-items: center;
    gap: 30px;
}

.esp .txt-esp {
    color: #fff;
}

.esp .txt-esp h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.esp .txt-esp h2 span {
    color: #ffb200;
    display: block;
}

.esp .txt-esp p {
    margin: 20px 0;
    text-align: justify;
}
.img-esp img{
    width: 500px;
    height: 500px;
    position: relative;
    animation: zoomInAndOut 4s ease-in-out infinite;
    width: 500px;
    height: 500px;
}


@keyframes zoomInAndOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

/* ESPECIALIDADES - O QUE FAZEMOS */

section.fazemos {
    padding: 40px 4%;
}

section.fazemos .flex {
    gap: 60px;
}

.fazemos .fazemos-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.fazemos .fazemos-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.fazemos .fazemos-box i {
    font-size: 70px;
    color: #ffb200;
}

.fazemos .fazemos-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.titulo-fazemos {
    color: white;
    text-align: center;
    font-size: 38px;
}

.titulo-fazemos span {
    color: #ffb200;
}

section.compromisso {
    padding: 20px 4%;
}

.inicio-comp {
    color: #fbfcfc;
}

.titulo-comp-1 {
    color: #ffb200;
    text-align: center;
    font-size: 38px;
}

.titulo-comp-1 span {
    color: #fbfcfc;
}
.titulo-comp-1-p {
    font-size: 20px;
}

.titulo-comp-2 {
    color: #ffb200;
    text-align: center;
    font-size: 38px;
    padding: 20px 4%;
}

.comp-t1 span {
    color: #ffb200;
    font-size: 20px;
}

.comp-t2 span {
    color: #ffb200;
    font-size: 20px;
}

.comp-t3 span {
    color: #ffb200;
    font-size: 20px;
}

.comp-t4 span {
    color: #ffb200;
    font-size: 20px;
}

.titulo-comp-2 span {
    color: #fbfcfc;
}

.fim-comp p span{
    color: #ffb200;
}

.fim-comp {
    color: #fbfcfc;
    font-size: 30px;
    margin-top: 35px;
}

/* SEÇÃO PROJETOS */

section.projetos {
    padding: 40px 4%;
}

section.projeto .flex-projeto {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.titulo-projetos h1{
    color: #fbfcfc;   
    font-size: 30px;
    display: flex;
    justify-content: center;

}

.titulo-projetos h1 span {
    color: #ffb200;
}

.titulo-projetos p {
    color: #fbfcfc;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

/* PROJETO - SLIDES */

section.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

section.slider .flex-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.slides-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slides-content input {
    display: none;
}

.slide {
    display: flex;
    width: 50%;
    height: auto;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.slide img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #ffb200;
    padding: 5px;
    border-radius: 25%;
    cursor: pointer;
    transition: 0.5s;
}
.nav-manual .manual-btn:not(:last-child),.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #ffb200;
}
